# python
**/__pycache__/
**/*.py[cod]
**/*$py.class
.venv/

# duckdb
data/*.duckdb
data/*.wal
data/duckdb
data/dev/*.duckdb
data/dev/*.wal
data/prod/*.duckdb
data/prod/*.wal

# dbt
transform/target/
transform/dbt_packages/
transform/logs/

# dlt
extract/.dlt/secrets.toml

# airflow
orchestration/logs/
orchestration/standalone_admin_password.txt
orchestration/airflow-webserver.pid
