# python
**/__pycache__/
**/*.py[cod]
**/*$py.class
.venv/

# duckdb
data/*.duckdb
data/*.wal
data/duckdb

# dbt
transform/target/
transform/dbt_packages/
transform/logs/

# dlt
extract/.dlt/secrets.toml
